body{
    background-color: green;
}
li{
    margin-left: 10rem;
    font-size: medium;
    font-weight: bolder;
}
h3{
    font-weight: bolder;
    font-size: xx-large;
}
h1{
    font-variant-caps: petite-caps;
    margin-left: 20rem;
    color: aqua;
}
img{
    margin-left: 15rem;
    border-radius: 100%;
}